DATABASE_URL="postgresql://postgres.<PROJECTID>:<PASSWORD>@aws-0-us-east-2.pooler.supabase.com:6543/postgres/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres.<PROJECTID>:<PASSWORD>@aws-0-us-east-2.pooler.supabase.com:5432/postgres"